.display-4 {
    font-family: 'Comfortaa', cursive;
    text-align: center
}

#city-search {
    font-family: 'Comfortaa', cursive;
}


#search-button {
    font-family: 'Comfortaa', cursive;
}


#prev-city-display {
    font-family: 'Comfortaa', cursive;
    
}

#current-conditions {
    font-family: 'Roboto', sans-serif;
}
.card-body {
  margin: 10px;
  border: solid;
  padding: 10px;
}

.card-main {
    padding: 0px
}

.five {
    font-family: 'Roboto', sans-serif;
}

/* .uv0_2 {
  background-color: green;
}

.uv3_5 {
  background-color: yellow;
  width: 20px;
}

.uv6_7 {
  background-color: orange;
  width: 20px;
}

.uv8_10 {
  background-color: red;
  width: 20px;
}

.uv11_20 {
  background-color: violet;
  width: 20px;
}

#uv {
  max-width: auto;
  width: 20px;
} */

.end {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4em;
}