.display-4 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.city-class {
}

#search-form {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10px; */
}

#city-search {
  font-family: 'Comfortaa', cursive;
  background-color: #ffc107;
  padding: 5px;
  margin-right: 5px;
  font-size: 17px;
  border: solid black;
  min-height: 50px;
  flex-grow: 2;
}

#search-button {
  /* padding: 5px; */
  background: #ffc107;
  color: black;
  min-height: 50px;
  min-width: 50px;

  border: solid black;
}

#prev-city-display {
  font-family: 'Comfortaa', cursive;
  margin: 10px 0;
}

#current-conditions {
  font-family: 'Roboto', sans-serif;
}

.card-main {
  /* padding: 0 10px; */
}

.card-body {
  /* margin: 10px; */
  border: solid;
  /* padding: 10px; */
}

.forecast-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.five {
  font-family: 'Roboto', sans-serif;
}

.uv0_2 {
  background-color: green;
  width: 35%;
}

.uv3_5 {
  background-color: yellow;
  width: 35%;
}

.uv6_7 {
  background-color: orange;
  width: 35%;
}

.uv8_10 {
  background-color: red;
  width: 35%;
}

.uv11_20 {
  background-color: violet;
  width: 35%;
}

#uv {
  max-width: auto;
  /* width: 20px; */
}

.end {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4em;
}

.listCity {
  cursor: pointer;
}
